<a href="https://colab.research.google.com/github/jiw3026/SML/blob/main/dacon_%EB%94%B0%EB%A6%89%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import pandas as pd
import numpy as np

In [86]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [87]:
train=pd.read_csv('/content/drive/MyDrive/dacon/train.csv')

In [88]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [89]:
test=pd.read_csv('/content/drive/MyDrive/dacon/test.csv')

In [90]:
test.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

In [91]:
train.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [92]:
test.isnull().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [93]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [94]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   float64
 4   hour_bef_windspeed      1459 non-null   float64
 5   hour_bef_humidity       1459 non-null   float64
 6   hour_bef_visibility     1459 non-null   float64
 7   hour_bef_ozone          1459 non-null   float64
 8   hour_bef_pm10           1459 non-null   float64
 9   hour_bef_pm2.5          1459 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [95]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [96]:
train.shape

(1459, 11)

In [97]:
test.shape

(715, 10)

In [98]:
train.quantile([0.25,0,0.75])

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0.25,555.5,5.5,12.80,0.0,1.4,36.0,877.5,0.022,33.0,19.0,37.0
0.00,3.0,0.0,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.0,1.0
0.75,1651.0,17.5,20.05,0.0,3.4,68.5,1994.0,0.051,68.0,36.0,150.0

In [99]:
def get_outlier(x):
  Q1, Q3 = x.quantile([0.25,0.75])
  IQR = Q3-Q1
  upper_bound = Q3+1.5*IQR
  lower_bound = Q1-1.5*IQR
  outliers=x[(x>upper_bound)|(x<lower_bound)]
  return str(round(100*len(outliers)/len(x),1))+'%'

print(train.apply(get_outlier))

id                        0.0%
hour                      0.0%
hour_bef_temperature      0.1%
hour_bef_precipitation    3.2%
hour_bef_windspeed        0.6%
hour_bef_humidity         0.0%
hour_bef_visibility       0.0%
hour_bef_ozone            0.7%
hour_bef_pm10             3.6%
hour_bef_pm2.5            4.7%
count                     1.6%
dtype: object

In [100]:
col_num=['id','hour','hour_bef_temperature','hour_bef_precipitation','hour_bef_windspeed','hour_bef_humidity','hour_bef_visibility','hour_bef_ozone','hour_bef_pm10','hour_bef_pm2.5']
col_y=['count']

In [101]:
x_train=train.loc[:,['hour','hour_bef_temperature','hour_bef_precipitation','hour_bef_windspeed','hour_bef_humidity','hour_bef_visibility','hour_bef_ozone','hour_bef_pm10','hour_bef_pm2.5']]

In [102]:
x_train

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
1,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
2,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
3,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
4,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0
...,...,...,...,...,...,...,...,...,...
1454,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0
1455,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0
1456,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0
1457,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0
1458,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0

In [103]:
y_train=train.loc[:,'count']

In [104]:
y_train

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

In [105]:
x_test=test.loc[:,['hour','hour_bef_temperature','hour_bef_precipitation','hour_bef_windspeed','hour_bef_humidity','hour_bef_visibility','hour_bef_ozone','hour_bef_pm10','hour_bef_pm2.5']]

In [106]:
x_test

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0
...,...,...,...,...,...,...,...,...,...
710,1,24.6,0.0,2.4,60.0,1745.0,0.000,0.0,0.0
711,1,18.1,0.0,1.0,55.0,2000.0,0.000,0.0,0.0
712,9,23.3,0.0,2.3,66.0,1789.0,0.020,17.0,15.0
713,16,27.0,0.0,1.6,46.0,1956.0,0.032,40.0,26.0
714,8,22.3,0.0,1.0,63.0,1277.0,0.007,30.0,24.0

In [107]:
from sklearn.svm import SVR
svm_reg=SVR(kernel='linear')
svm_reg.fit(x_train,y_train)
y_predict=svm_reg.predict(x_train)
svm_mse=mean_squared_error(y_train,y_predict)
svm_rmse=np.sqrt(svm_mse)
svm_rmse

54.32033848730688

In [109]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

param_grid=[{'kernel':['linear'],'C':[10.0,30.0,100.0]},
            {'kernel':['rbf'],'C':[1.0,3.0,10.0],
             'gamma':[0.01,0.03,0.1]},
            ]

svm_reg=SVR()
grid_search=GridSearchCV(svm_reg,param_grid,cv=5,scoring='neg_mean_squared_error',verbose=2,n_jobs=-1)
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
             param_grid=[{'C': [10.0, 30.0, 100.0], 'kernel': ['linear']},
                         {'C': [1.0, 3.0, 10.0], 'gamma': [0.01, 0.03, 0.1],
                          'kernel': ['rbf']}],
             scoring='neg_mean_squared_error', verbose=2)

In [110]:
negative_mse=grid_search.best_score_
rmse=np.sqrt(-negative_mse)
rmse

53.23435422235155